:root {
  --color-button-hover: #2196f3;
  --color-body: #212121;
  --color-white: #fff;
}

body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-body);
}
.container {
  width: 1200px;
  margin: 0% auto;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  padding: 6px 24px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.button:hover {
  background-color: var(--color-button-hover);
  color: var(--color-white);
}
.button-negocio:hover {
  background-color: var(--color-button-hover);
  color: var(--color-white);
}

.button,
.header-link:active {
  font-weight: 700;
  font-size: 16px;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  color: #2196f3;
}

.header-link {
  color: #000;
  text-decoration-line: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link1 {
  text-decoration: none;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-link:hover {
  color: var(--color-button-hover);
  text-decoration-line: none;
}
.header-link1:hover {
  color: var(--color-button-hover);
}

.Contactos {
  color: #000;
}

.p-1 {
  width: 270px;
  height: 16px;
}

.p-2 {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.footer {
  font-size: 14px;
  font-weight: 400;
}

ul li {
  list-style-type: none;
}

/*aqui comienza index.html*/

header > .container {
  margin: 0 auto;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header-link {
  margin-right: 50px;
}
.active:active {
  color: #2196f3;
}
.header-link1 {
  margin-right: 50px;
}

.container-negocio {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 900px;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  width: 696px;
  height: 120px;
}

.button-negocio {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 50px;
  color: var(--color-body);
  padding: 6px 24px;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-weight: 500px;
}

.container-metas {
  display: flex;
  align-items: center;
}
.metas {
  margin-top: 95px;
}

h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  color: #212121;
  margin-top: 94px auto;
}
.img1 {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 94px;
}
.container-equipo1 {
  background-color: #f5f4fa;
  height: 648px;
  padding-top: 25px;
}
.container-equipo2 {
  display: flex;
  justify-content: space-between;
}

.container-equipo2 div {
  text-align: center;
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

footer {
  background-color: #2f303a;
  height: 252px;
}

.address {
  color: var(--color-white);
  width: 231px;
  height: 21px;
  padding-top: 10px;
}
.p {
  color: #757575;
}
/*aqui comienza portafolio*/

.container-button {
  display: flex;
  justify-content: center;
}
.button1 {
  margin-top: 112px;
  margin-right: 12px;
}
.container-servicios {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 82px;
}
.container-servicios div {
  width: 370px;
  height: 404px;
  margin-top: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
