
:root {
    --color-button-hover: #2196F3;
    --color-body: #212121;
    --color-white: #fff;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-body);
}



.button {

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    padding: 6px 24px;
    border-radius: 4px;
}

.button:hover,
.button:focus {

    cursor: pointer;
    background-color: var(--color-button-hover);
    color: var(--color-white);
   
}


.button:active {
    background-color: cornflowerblue;
    font-weight: 700;
    font-size: 16px;
}


.webstudio {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    Width: 145px;
    Height: 31px;
    Top: 24px;
    Left: 215px;
    color: #2196F3;
}

.link {
    color: #000;
    text-decoration-line: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.link:hover {
    color: #2196F3;
    text-decoration-line: none;
}

.Contactos {
    color: #000;
}

.p-1 {
    font-size: 18px;
    font-weight: 700;
}

.p-2 {
    font-size: 16px;
    font-weight: 400
}

.footer {
    font-size: 14px;
    font-weight: 400;
}

.ul {
    list-style: none;
}