:root {
  --color-button-hover: #2196f3;
  --color-body: #212121;
  --color-white: #fff;
}

body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-body);
}
.container {
  width: 1200px;
  margin: 0% auto;
}

.button {
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.a {
  padding: 6px 18px;
}
.b {
  padding: 6px 24px;
}
.c {
  padding: 6px 24px;
}
.d {
  padding: 6px 26px;
}
.e {
  padding: 6px 26px;
}
.button:hover {
  background-color: var(--color-button-hover);
  color: var(--color-white);
}
.button-negocio:hover {
  background-color: #0488f4;
  color: var(--color-white);
}

.button:active {
  font-weight: 700;
  font-size: 16px;
  background-color: #42a6f9;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  color: #2196f3;
  margin: 6px;
  margin-left: 2px;
}

.header-link {
  color: #000;
  text-decoration-line: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link-1 {
  text-decoration: none;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 20px;
}

.header-link:hover {
  color: var(--color-button-hover);
  text-decoration-line: none;
}
.header-link-1:hover {
  color: var(--color-button-hover);
}

.Contactos {
  color: #000;
}

.p-1 {
  width: 270px;
  height: 16px;
  line-height: 36px;
  font-weight: 700;
}

.p-2 {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.p-3 {
  padding-left: 24px;
}

.footer {
  font-size: 14px;
  font-weight: 400;
}

ul li {
  list-style-type: none;
}

/*aqui comienza index.html*/
header {
  border: 1px solid #ececec;
}

header > .container {
  margin: 0% auto;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.email-number {
  display: flex;
  justify-content: space-between;
}

.active:active {
  color: #2196f3;
}
.header-link {
  margin-right: 50px;
}
.header-link1 {
  margin-right: 25px;
}

.container-negocio {
  background-image: url(/images/principal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 900px;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  width: 696px;
  height: 120px;
}

.button-negocio {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  color: #fff;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196f3;
  font-weight: 700px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 60px;
}

.img-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 94px;
}
.img-2 {
  position: relative;
}
.img-3 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 20px;
  bottom: 5px;
  padding: 27px 70px;
  color: #ffffff;
}
.img-2 > .img-3a {
  padding: 27px 90px;
}
.container-equipo-1 {
  background-color: #f5f4fa;
  height: 648px;
  padding: 5px 96px;
}
.container-equipo-2 {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding-top: 20px;
}

.container-equipo-2 div {
  text-align: center;
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

footer {
  background-color: #2f303a;
  height: 252px;
}

.container-address {
  align-content: center;
  color: var(--color-white);
  width: 231px;
  height: 21px;
  padding-top: 50px;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.p-adress {
  margin: 0%;
  font-size: 14px;
}
.p {
  color: #757575;
  margin: 0%;
  font-size: 14px;
}

/*aqui comienza portafolio*/

.container-button {
  display: flex;
  justify-content: center;
}
.button-1 {
  margin-top: 112px;
  margin-right: 4px;
  margin-left: 4px;
}
.button-1:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-servicios {
  display: inline-block;
  justify-content: space-between;
}
.card-servicios {
  width: 370px;
  height: 404px;
  margin: 20px 10px 10px 10px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.card-img {
  overflow: hidden;
  position: relative;
  width: 370px;
  height: 294px;
}
.card-animacion {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  padding: 40px 24px;
  transform: translateY(105%);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms ease;
}

.card-servicios:hover .card-animacion {
  transform: translateY(0%);
}
.card-servicios:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.animacion-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*aqui comienza las clases de iconos*/

.nav-icons-1 {
  display: flex;
}
.nav-icons-2 {
  width: 20px;
  height: 16px;
  position: relative;
  top: 3px;
  right: 10px;
}
.header-link-1:hover .nav-icons-2 {
  color: #2196f3;
  fill: #2196f3;
}
.container-metas {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 280px;
}

.metas-icons-1 {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.metas-icons-1 > .metas-icons-c {
  margin-top: 40px;
}

.metas-icons-a {
  width: 65.32px;
  height: 70px;
}
.metas-icons-b {
  width: 66.96px;
  height: 70px;
}
.metas-icons-c {
  width: 70px;
  height: 53.69px;
}
.metas-icons-d {
  width: 54.83px;
  height: 60.66px;
}
.move {
  margin: 30px 102.34px;
}

.container-equipo-3 > .circulo {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 12px 12px;
  display: inline-block;
  margin-right: 10px;
  box-shadow: none;
}
.circulo:hover {
  background-color: #2196f3;
}
.circulo:hover .icons-equipo {
  fill: white;
}

.icons-equipo {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.clientes-icons {
  width: 41px;
  height: 46px;
}
.circulo-2 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 24px;
  padding: 12px 12px;
  display: inline-block;
  margin-left: 10px;
}
.container-encuentrenos {
  margin-left: 300px;
  padding-bottom: 0px;
}
.container-encuentrenos > p {
  margin-left: 15px;
  color: var(--color-white);
}

.icons-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.p-footer {
  margin-top: 5px;
}
.circulo-2:hover {
  background-color: #2196f3;
}
.clientes-h2 {
  margin-top: 60px;
}
.clientes {
  display: flex;
  justify-content: space-between;
}
.caja-icons {
  width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 150px;
  padding: 12px 30px;
}
.clientes-icons {
  width: 106px;
  height: 52px;
  fill: #afb1b8;
}

.caja-icons:hover .clientes-icons {
  background-color: var(--color-button-hover);
  fill: var(--color-white);
}
.caja-icons:hover {
  background-color: var(--color-button-hover);
}
